*{
    box-sizing: border-box;
    
}
html {
    height: 100%;
}

body {
    margin: 0; 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 0;   
    background-color: #3399cc;
    min-height: 100%;
    border: 25px solid #2b81ac;
    
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 96%;
    color: #fff;

}

.all__blocks {    
    font-size: 0;
    background-color: #fff;
    border: 3px solid #fff;
    
}
.title,
.footer {
    font-size: 18px;
    display: block;
    padding: 20px 0;
}
.footer { font-size: 14px;}

ul {
    transition: all .1s ease-in;
    font-size: 18px;
    margin: 0;
    padding: 0;
    opacity: 0.85;
}
li {
    list-style: none;
    margin: 0;
    padding: 10px 5px;
    text-align: center;
     
}
.city__grad  span {    opacity: 0.7;}

i {
    vertical-align: middle;
    font-size: 24px;
}

.one__block {
    width: 25%;
    /* outline: 2px solid green; */    
}

.two__blocks {
    width: 50%;
    /* outline: 2px solid orange; */
}

.four__blocks {
    width: 100%;
    /* outline: 2px solid violet; */
}

.one__block,
.two__blocks,
.four__blocks{
    display: inline-block;
    border: 3px solid #fff; 
    min-height: 100%;
    
}


/* Block colors */
.block-color1 {
    background-color: #3399cc;
}
.block-color2{
    background-color: #2baaaa;
}
.block-color3{
    background-color: #996699;
}
.block-color4{
    background-color: #c24747;
}
.block-color5{
    background-color: #e2674a;
}
.block-color6{
    background-color: #ffcc66;
}
.block-color7{
    background-color: #99cc99;
}
.block-color8{
    background-color: #669999;
}
.block-color9{
    background-color: #cc6699;
}
.block-color10{
    background-color: #339966;
}
.block-color11{
    background-color: #666699;
}


ul:hover {
    opacity: 1;
}

/* .one__block:nth-child(n):hover,
.two__blocks:nth-child(n):hover,
.four__blocks:nth-child(n):hover {
    opacity: .8;
}

.one__block:hover,
.two__blocks:hover,
.four__blocks:hover{
    opacity: 1;
} */